.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
  margin: 10px 20px 20px 0px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.margin-bottom-0{
  margin-bottom: 0px;
}

.margin-right-16{
  margin-right: 16px;
}

.margin-top-30{
  margin-top: 30px;
}

.padding-top-0 {
  padding-top: 0px;
}

.mat-subheader {
  padding-bottom: 8px;
}

.line-content {
  margin-top: 0px;
  padding-left: 16px;
}

.mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.priority-1 {
  background: #a9b9c3;
  color: white;
  padding: 0.5rem !important;
  border-radius: 2px;
}

.priority-2 {
  background: #3f51b5;
  color: white;
  padding: 0.5rem !important;
  border-radius: 2px;
}

.priority-3 {
  background: #98f189;
  padding: 0.5rem !important;
  border-radius: 2px;
}
