<mat-card>
  <div class="title">Details</div>
  <div class="details-container mat-elevation-z8" *ngFor='let project of projects;  let i = index'>
    <mat-list *ngIf="i == chosenProject">
      <h2 mat-subheader>Name</h2>
      <h4 mat-line>{{project.name}}</h4>
      <h2 mat-subheader>Description</h2>
      <h4 mat-line>{{project.description}}</h4>
      <mat-tab-group>
        <mat-tab   label="Rules">
          <div>
            <mat-list-item *ngFor="let role of project.roles">
              <h4 mat-line>{{constatns.roles[role.id].name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
        <mat-tab label="Tasks">
          <div>
            <mat-list-item *ngFor="let task of project.tasks">
              <h4 mat-line>{{constatns.tasks[task.id].name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
        <mat-tab label="Products">
          <div>
            <mat-list-item *ngFor="let product of project.products">
              <h4 mat-line>{{constatns.products[product.id].name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </div>
</mat-card>
<button mat-raised-button color="primary" routerLink="" aria-hidden="true">Back</button>

