<mat-card>
  <div class="title">Details</div>
  <div class="example-container mat-elevation-z8">
    <mat-list>
      <h3 mat-subheader>Main info</h3>
      <mat-list-item *ngFor="let folder of folders">
        <h4 mat-line>{{folder.name}}</h4>
      </mat-list-item>
      <mat-tab-group>
        <mat-tab label="Rules">
          <div>
            <h3 mat-subheader>Rules</h3>
            <mat-list-item *ngFor="let folder of folders">
              <h4 mat-line>{{folder.name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
        <mat-tab label="Products">
          <div>
            <h3 mat-subheader>Products</h3>
            <mat-list-item *ngFor="let folder of folders">
              <h4 mat-line>{{folder.name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
        <mat-tab label="Tasks">
          <div>
            <h3 mat-subheader>Tasks</h3>
            <mat-list-item *ngFor="let folder of folders">
              <h4 mat-line>{{folder.name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </div>
</mat-card>
<button mat-raised-button color="primary" routerLink="" aria-hidden="true">Back</button>

