<mat-card class="comparison-containter padding-top-0">
  <div class="title margin-bottom-10">Comparison</div>
  <div class="details-container mat-elevation-z8" *ngFor='let project of chosenProjects'>
    <mat-list>
      <h2 mat-subheader class="subheader">Project name</h2>
      <h4 mat-line class="line-content margin-bottom-0">{{project.name}}</h4>
      <h2 mat-subheader class="subheader">Description</h2>
      <h4 mat-line class="line-content margin-right-16">{{project.description}}</h4>
      <mat-tab-group>
        <mat-tab label="Rules">
          <div>
            <mat-list-item *ngFor="let role of project.roles">
              <h4 mat-line class="{{'priority-'+role.validity}}">{{constatns.roles[role.id].name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
        <mat-tab label="Tasks">
          <div>
            <mat-list-item *ngFor="let task of project.tasks">
              <h4 mat-line class="{{'priority-'+task.validity}}">{{constatns.tasks[task.id].name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
        <mat-tab label="Products">
          <div>
            <mat-list-item *ngFor="let product of project.products">
                <h4 mat-line class="{{'priority-'+product.validity}}">{{constatns.products[product.id].name}}</h4>
            </mat-list-item>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary" routerLink="" aria-hidden="true">Back</button>
  </div>
</mat-card>
