.details-container {
  width: 520px;
  display: inline-block;
  margin: 10px 20px 20px 0px;
}

.comparison-containter {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.priority-1 {
  background: #a9b9c3;
  color: white;
  padding: 0.5rem !important;
  border-radius: 2px;
}

.priority-2 {
  background: #3f51b5;
  color: white;
  padding: 0.5rem !important;
  border-radius: 2px;
}

.priority-3 {
  background: #a8f1b9;
  padding: 0.5rem !important;
  border-radius: 2px;
}

.margin-bottom-0{
  margin-bottom: 0px;
}

.margin-right-16{
  margin-right: 16px;
}

.padding-top-0 {
  padding-top: 0px;
}

.mat-subheader {
  padding-bottom: 8px;
}

.line-content {
  margin-top: 0px;
  padding-left: 16px;
}

.mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
