.details-container {
    width: fit-content;
    display: inline-block;
    margin: 20px;
}

div {
    background=color:blue;
}

.comparison-containter {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
